@import "../constants/animations";
@import "../constants/base";
@import "../constants/mixins";
@import "../constants/variables";
@import "../constants/fonts";

.account-root {
  background: url("../../public/images/header.jpg");
  background-size: cover;
  background-position: top;
  @include flex(column, space-evenly, center);
  height: 100vh;
  .upper {
    background-color: rgb(234, 237, 241);
    height: 35vh;
    width: 84vw;
    border-radius: 1.4rem;
    padding: 2rem;
    .avatar-col {
      @include flex(column, center, center);
      .avatar {
        height: 10rem;
        width: 10rem;
        &:hover {
          transform: translateY(0.1rem);
          box-shadow: 0.2rem 0.2rem 2.1rem rgba($color: white, $alpha: 1);
        }
      }
    }
    .details {
      @include flex(column, space-evenly, center);
      & > h4 {
        font-size: 3.5rem;
      }
      .minor-details {
        * {
          font-size: 1.4rem;
        }
      }
    }
  }
}
