
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
