.conatiner { -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; font-family: 'Overpass', sans-serif; letter-spacing: 0px; font-size: 17px; color: #8d8f90; font-weight: 400; line-height: 32px; background-color: #edefef; }
.container h2{ color: #25292a; margin: 0px 0px 10px 0px; font-family: 'Overpass', sans-serif; font-weight: 700; letter-spacing: -1px; line-height: 1; }
.container h1{ color: #25292a; margin: 0px 0px 10px 0px; font-family: 'Overpass', sans-serif; font-weight: 700; letter-spacing: -1px; line-height: 1; }
.container h1 { font-size: 34px; }
.container h2 { font-size: 28px; line-height: 38px; }
.container h3 { font-size: 22px; line-height: 32px; }
.container h4 { font-size: 20px; }
.container h5 { font-size: 17px; }
.container h6 { font-size: 12px; }
.container p { margin: 0 0 20px; line-height: 1.7; }
.container p:last-child { margin: 0px; }

.container a { text-decoration: none; color: #8d8f90; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
.container a:focus{ text-decoration: none; color: #f85759; }
.container a:hover { text-decoration: none; color: #f85759; }



.pageheader { 
    border-radius: 0 0 30% 30%;
    background: url(https://easetemplate.com/free-website-templates/hike/images/pageheader.jpg)no-repeat; position: relative; background-size: cover; }
.pagecaption { padding-top: 170px; padding-bottom: 174px; }
.pagetitle { font-size: 46px; line-height: 1; color: #fff; font-weight: 600;;
    
}

.cardsection { position: relative; bottom: 60px; }
.cardblock { padding: 80px; }
.sectiontitle { margin-bottom: 60px; text-align: center; }

.pagetitle span{
    color:rgb(223, 212, 66);
}
.pagecaption{
    position: relative;
    left:25px;
    top:-140px;
}
@media (max-width:600px) {
    .pageheader{
        border-radius: 0 0 50% 50%;
    }
    .sectiontitle{
        font-size: 15px;
    }
    .sectiontitle h2{
        line-height: -10px;
        font-size: 25px;
    }
}
/* landing page css */
.app{
    background-color: #dadbd3;
    display: grid;
    place-items: center;
  }
  .app__container{
      margin: 20px 0 20px 0;
    width: 90vw;
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    box-shadow: -1px 4px 20px -6px black;
  }
  .app__heading{
      margin: 10px;
      text-align: center;
      color:rgb(182, 128, 28);
  }
  .app__content{
      display: flex;
      flex-direction: row;
  }
  .left{
      text-align: center;
      flex:.4;
      color: rgb(145, 106, 106);
      padding-left: 50px;
    }
  .left img{
      padding: 0 17% 3% 17%;
      margin-right: auto;
      margin-left: auto;
  }
  .left p{
    font-size: small;
    padding: 20px 20% 0 20%;
  }
  .left h3{
      font-weight: 700;
      padding: 10px 5% 0 5%;
  }
  .right{
      text-align: center;
      flex:.6;
      color: rgb(145, 106, 106);
  }
  .right h2{
      padding: 80px 10% 50px 10%;
  }
  .right p{
      padding: 0 80px 80px 80px;
  }
  
  .app__faqs{
      width:70%;
      margin: 0 auto;
      margin-top: 50px;
      color: grey;
  }
  .app__faqs h2{
      color: hotpink;
      margin-bottom: 20px;
      text-align: center;
  }
  
  .app__footer{
      text-align: center;
      margin:30px;
  }
  @media(max-width:1800px){
      .app__content{
          flex-direction: column;
      }
      .left{
        padding-left: initial;
      }
  }
  
  .links{
      display: flex;
      flex-direction: row;
      padding: 0 20% 5% 20%;
  }
  .app__link{
    
    display: flex;
    flex:.5;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }
  .app__link button{
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 8px rgb(207, 207, 207);
  }
  
  .app__link button:hover{
    border: none;
    padding: 15px;
    border-radius: 15px;
    box-shadow: inset 0 0 8px #f9f8fc;
    } 
  
   #foot{
    position: relative;
    top: 15px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: none;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 8px #d9d4e7;
    width: 120px;
    height: 50px;
    background-color: #d9d4e7;
    animation-duration: 5s;
  }
  
  .button_os{
     position: absolute;
      width: 120px;
      height: 50px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background-color: #f9f8fc;
      border: 2.5px solid #0e172c;
      transition: background-color 2.2s;
      transition-duration: 3s;
      transition: 1.5s;
    }
    
    .button_os:hover{
      position: absolute; 
      top: 30px;
      background-color: #fec7d7;
    }
    
    .button_os a{
      font-size: 15px;
      display: block;
      text-decoration: none;
      color:#0e172c;
      transition: 1.5s;
    }
    /* vv */
    .button_os a:hover{
      letter-spacing: 5px;
    }
    @media(min-width:1200px){
        .links{
            padding: 0 30% 5% 30%;
        }
    }