// ========================================
// Auth Styles
// ========================================
@import "./Variables.scss";
@import "./AuthStyles.scss";

// ========================================
// Navbar Styles
// ========================================

.appbar {
  background-color: $secondary;
  padding: 3px 7px 3px 7px;
  z-index: 77;
  .logo {
    height: 42px;
    width: 42px;
  }
  .brand {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 2px;
    white-space: nowrap;
    color: $primary;
    &:hover {
      color: #055052;
      cursor: pointer;
    }
  }
}

// ========================================
// Header Styles
// ========================================

.my-header {
  height: 49vh;
  width: 100%;

  .image-col {
    width: 100%;
    img {
      border-radius: 14px;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

// ========================================
// Blog Styles
// ========================================

.blog {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
