// ========================================
// Auth Styles
// ========================================

@import "./AuthStyles.scss";

// ========================================
// Navbar Styles
// ========================================

.appbar {
  height: 7vh;
  width: 100vw;
  background-color: rgb(151, 200, 245);
  padding: 7px;
  .appbar-row {
    height: 100%;
    width: 100%;
  }
  .brand {
    font-size: 1.8rem;
  }
}

// ========================================
// Header Styles
// ========================================

.my-header {
  height: 49vh;
  width: 100%;

  .image-col {
    width: 100%;
    img {
      border-radius: 14px;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

// ========================================
// Blog Styles
// ========================================

.blog {
  height: 20vh;
  width: 35vw;
  background-color: aliceblue;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
